<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
      </div>
      <div class="footer-col">
        <ul class="social-media-list">
        <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
        </li>
        {% if site.github_username %}
        <li><i class="fa fa-github"></i>&nbsp;&nbsp;<span><a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a></span>
        </li>
        <li>
          <i class="fa fa-linkedin"></i>&nbsp;&nbsp;<span><a href="https://fr.linkedin.com/in/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a></span>
        </li>
        {% endif %}
        <!-- {% if site.twitter_username %}
        <li><i class="fa fa-twitter"></i><span><a href="https://twitter.com/{{ site.twitter_username }}">&nbsp;&nbsp;{{ site.twitter_username }}</a></span>
        </li>
        {% endif %} -->
        <!-- {% if site.linkedin_url %} -->
        <!-- <li>
          <i class="fa fa-linkedin"></i>&nbsp;&nbsp;<span><a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a></span>
        </li> -->
        <!-- {% endif %} -->
      </ul>
      </div>
  </div>

</footer>
